---
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
import GameInfoTable from '../components/GameInfoTable.astro'
import GamePageHeader from '../components/GamePageHeader.astro'
import MangoCarousel from '../components/ImageCarousels/MangoCarousel.astro'
import Badge from '../components/Badge.astro'

const title = 'Mango Goes to Mewsic School'
const tools = ['Unity', 'C#', 'Yarnspinner']
const links = ['mango-itch', 'mango-steam', 'mango-competition']
import img from '../assets/images/mango representative image.png'
---
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
	  <link href="/src/styles/tailwind.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela Round" rel="stylesheet">
  <style>
    body
    {
      font-family: 'Varela Round', sans-serif;
    }
  </style>
    <title>Mango - Kaya Cook Portfolio</title>
  </head>
  <body class="bg-[#ff9598]">

    <Navbar></Navbar>

    <div class="flex h-full">
      <div class="mx-auto w-11/12 lg:w-3/4 xl:w-3/5 2xl:w-1/2 bg-white p-8 rounded-xl shadow-sm">
          <GamePageHeader
          title={title}
          img={img.src}>
          </GamePageHeader>

          <GameInfoTable
          status="Released (Expect Updates)"
          timeline="4 Months (Jan 2023 - May 2023)"
          role="Developer, Programmer, Designer"
          tools={tools}
          links={links}
          ></GameInfoTable>
        
          <div class="mx-6">
            <h1 class="text-xl my-6">Winner of the <b>Diversity in Video Games Competition</b> at the Congressional Black Caucus' 2023 Legislative Conference, sponsored by the Entertainment Software Association.
            </h1>
            <h1 class="text-2xl font-bold mb-4">About Mango Goes to Mewsic School</h1>
            <p class="text-gray-700 mb-4 text-xl">
              Mango Goes to Mewsic School is a rhythm-based RPG, developed in a semester with co-developer <a href=""></a>Cecil Kong. Play as Mango, a cat who dreams of going to music school, and learn the principles of four diverse genres—K-Pop, Afrobeats, Classical, and Jazz—to become the best possible applicant</p>
            <h1 class="text-2xl font-bold mb-4">Role(s): Developer, Programmer, Designer</h1>
            <p class="text-gray-700 text-xl">As one of two people developing this game, I was intensively involved in the game design, including map design, narrative and mechanics. As a programmer, I also implemented countless gameplay systems, including but not limited to:</p>
            <ul class="text-gray-700 text-xl list-disc ml-10 mb-6">
              <li>Beat-synced obstacles, decor, and UI</li>
              <li>Tile-based movement and collision detection using raycasting</li>
              <li>Rhythm game sequence/progression</li>
              <li>Dialogue implementation using Yarnspinner</li>
              <li>Player health and damage</li>
              <li>Scene transitions</li>
              <li>Tutorial functionality</li>
            </ul>
          </div>

          <MangoCarousel></MangoCarousel>


          <h1 class="text-2xl mx-6 font-bold mb-4">Gameplay Trailer</h1>

          <video class="w-full h-auto max-h-full rounded-lg mb-6" controls>
            <source src="/src/assets/videos/mango-trailer.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>

          

      </div>
    </div>
    <Footer></Footer>
	  
  </body>
</html>