---
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
import GameInfoTable from '../components/GameInfoTable.astro'
import GamePageHeader from '../components/GamePageHeader.astro'
import ValiantCarousel from '../components/ImageCarousels/ValiantCarousel.astro'

const title = '(val)iant'
const tools = ['Unity', 'C#', 'Yarnspinner']
const links = ['Itch.io', 'Steam', 'Website']
const hrefs = ['https://www.uscgamesexpo.com/game-2024']
import img from '../assets/images/valiant.png'
---
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
	<link href="/src/styles/tailwind.css" rel="stylesheet">
    <title>(val)iant - Kaya Cook Portfolio</title>
  </head>
  <body class="bg-[#fd9dcb]">

    <Navbar></Navbar>

    <div class="flex h-full">
      <div class="mx-auto w-11/12 lg:w-3/4 xl:w-3/5 2xl:w-1/2 bg-white p-8 rounded-xl shadow-sm">
          <GamePageHeader
          title={title}
          img={img.src}>
          </GamePageHeader>

          <GameInfoTable
          status="Released"
          timeline="1 Year (May 2022 - May 2023)"
          role="Programmer"
          tools={tools}
          links={links}
          ></GameInfoTable>
        
          <div class="mx-6">
            <h1 class="text-2xl font-bold mb-4">About (val)iant</h1>
            <p class="text-gray-700 mb-4 text-xl">
              (val)iant is a browser-based narrative game, directed by USC Games MFA student <b>Kaitlin 'KB' Bonfiglio</b>. It follows Val, a nonbinary college student, and focuses on their relationship with sex and their body, as well as more general issues related to vaginal health.</p>
            <h1 class="text-2xl font-bold mb-4">Role(s): Programmer</h1>
            <p class="text-gray-700 text-xl">I located and addressed bugs in gameplay to ensure a smooth player experience, such as issues with the pause menu or differences between sprite appearance in Windows/Mac versus WebGL builds. 
              I also redesigned game systems, such as dynamic buttons for a scene with multiple dialogue options, and credits navigation.
              Finally, I created a Javascript plugin for opening links from the WebGL build, facilitating user access to vaginal health resources.</p>
            <!-- <ul class="text-gray-700 text-xl list-disc ml-10 mb-6">
              <li>Beat-synced obstacles, decor, and UI</li>
              <li>Tile-based movement and collision detection using raycasting</li>
              <li>Rhythm game sequence/progression</li>
              <li>Dialogue implementation using Yarnspinner</li>
              <li>Player health and damage</li>
              <li>Scene transitions</li>
              <li>Tutorial functionality</li>
            </ul> -->
          </div>

          <ValiantCarousel></ValiantCarousel>

          <h1 class="text-2xl mx-6 font-bold mb-4">Trailer</h1>

          <iframe 
          width="720"
          height="405"
          src="https://www.youtube.com/embed/CsTFWqsQc4Q"
          class="rounded-lg mx-auto w-full h-64 md:h-96"
          ></iframe>

          

      </div>
    </div>
    <Footer></Footer>
	  
  </body>
</html>