---
import Card from './Card.astro';

import shepherdsImg from '../assets/images/menu_background.png'
import mangoImg from '../assets/images/mango representative image.png'
import boosThereImg from '../assets/images/menu_background.png'
import dreamlandImg from '../assets/images/dreamland_main.png'

const cardsData = [
  {
    title: "Shepherds - Gameplay/UI Programmer",
    teamSize: "Team Size: ~20",
    timeline: "Time Constraint: 1 year",
    href: "https://example.com",
    img: shepherdsImg.src,
    badges: ["C#", "Unity", "3D", "Puzzle-Adventure"]
  },
  {
    title: "Mango Goes to Mewsic School - Developer",
    teamSize: "Team Size: ~20",
    timeline: "Time Constraint: 1 year",
    href: "https://example.com",
    img: mangoImg.src,
    badges: ["C#", "Unity", "2D", "Rhythm-RPG"]
  },
  {
    title: "Boo's There? - Programming Lead",
    teamSize: "Team Size: ~20",
    timeline: "Time Constraint: 1 year",
    href: "https://example.com",
    img: boosThereImg.src,
    badges: ["C#", "Unity", "2D", "Simulator"]
  },
  {
    title: "dreamland. - Gameplay Programmer",
    teamSize: "Team Size: ~20",
    timeline: "Time Constraint: 1 year",
    href: "https://example.com",
    img: dreamlandImg.src,
    badges: ["Lua", "Roblox Studio", "3D", "Minigame"]
  },
];
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card Layout</title>
  <style>
    .card-body {
      height: 100px; /* Set a fixed height for the card body */
      overflow: hidden; /* Hide overflow content */
    }
  </style>
</head>
<body class="flex justify-center items-center h-screen">
  <div class="w-10/12 xl:w-3/4 mx-auto">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      {cardsData.map((card, index) => (
        <Card
          title={card.title}
          teamSize={card.teamSize}
          timeline={card.timeline}
          href={card.href}
          img={card.img}
          badges={card.badges}
        />
      ))}
    </div>
  </div>
</body>
</html>
