---
import Badge from '../components/Badge.astro'
import RoundLink from '../components/RoundLink.astro'

interface Props {
    status: string;
	timeline: string;
	role: string;
    tools: string[];
    links: string[];
}

const { status, timeline, role, tools, links } = Astro.props;
---

<div class="relative overflow-x-auto my-6">
    <table class="w-full text-sm sm:text-lg text-left rtl:text-right text-gray-700 ">
        <tbody>
            <tr class="bg-white border-b ">
                <th scope="row" class="px-1 sm:px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                    Project Status
                </th>
                <td class="px-6 py-4">
                    {status}
                </td>
            </tr>
            <tr class="bg-white border-b ">
                <th scope="row" class="px-1 sm:px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                    Role(s)
                </th>
                <td class="px-6 py-4">
                    {role}
                </td>
            </tr>
            <tr class="bg-white  border-b ">
                <th scope="row" class="px-1 sm:px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                    Timeline
                </th>
                <td class="px-6 py-4">
                    {timeline}
                </td>
            </tr>
            <tr class="bg-white border-b">
                <th scope="row" class="px-1 sm:px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                    Tools
                </th>
                <td class="px-6 py-2">
                    <div class="flex flex-wrap">
                        {tools.map((badge, index) => (
                            <Badge key={index} text={badge} />
                        ))}
                        </div>
                </td>
            </tr>

            <tr class="bg-white ">
                <th scope="row" class="px-1 sm:px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                    Links
                </th>
                <td class="px-6 py-2">
                    <div class="flex flex-wrap">
                        {links.map((link, index) => (
                            <RoundLink 
                            linkKey={link}
                             />
                        ))}
                        </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
