---
interface Props {
	linkKey: string;
}

const { linkKey } = Astro.props;

const defaultColor = 'bg-slate-400';
const defaultHover = 'bg-slate-600';
const colorMap = {
        'dreamland-roblox': 'bg-[#7f8896]',
        'dreamland-itch': 'bg-[#f85958]',
        'mango-itch': 'bg-[#f85958]',
        'mango-steam': 'bg-[#0f2d5f]',
        'mango-competition': '',
        'shepherds-uscgames': '',
        'boos-itch': 'bg-[#f85958]',
        'boos-steam': 'bg-[#0f2d5f]',
        'boos-oa': '',
        'deseo-itch': 'bg-[#f85958]',
        'val-itch': 'bg-[#f85958]',
        'val-steam': 'bg-[#0f2d5f]',
        'val-website': '',
};

const hoverMap = {
        'dreamland-roblox': 'bg-[#7f8896]',
        'dreamland-itch': 'bg-slate-900',
        'mango-itch': 'bg-[#f85958]',
        'mango-steam': 'bg-[#0f2d5f]',
        'mango-competition': '',
        'shepherds-uscgames': '',
        'boos-itch': 'bg-[#f85958]',
        'boos-steam': 'bg-[#0f2d5f]',
        'boos-oa': '',
        'deseo-itch': 'bg-[#f85958]',
        'val-itch': 'bg-[#f85958]',
        'val-steam': 'bg-[#0f2d5f]',
        'val-website': '',
    };

const linkMap = 
{
    'dreamland-itch': 'https://rhizostomae.itch.io/dreamland',
    'dreamland-roblox': 'https://www.roblox.com/games/17027902554/dreamland',
    'mango-itch': 'https://celciko.itch.io/mango-goes-to-mewsic-school',
    'mango-steam': 'https://store.steampowered.com/app/2611620/Mango_Goes_to_Mewsic_School/',
    'mango-competition': 'https://www.theesa.com/news/esa_cbcf_diversity_competition/',
    'shepherds-uscgames': 'https://www.uscgamesexpo.com/game-2024',
    'boos-itch': 'https://open-alpha-usc.itch.io/boos-there',
    'boos-steam': 'https://store.steampowered.com/app/2686930/Boos_There/',
    'boos-oa': 'https://openalphausc.weebly.com',
    'deseo-itch': 'https://slagos.itch.io/deseo-y-diseo-the-game',
    'val-itch': 'https://square2mom.itch.io/valiant',
    'val-steam': 'https://store.steampowered.com/app/2388360/valiant_or_vals_guide_to_having_a_broken_vag/',
    'val-website': 'https://www.valsguide.com',
};

const textMap =
{
    'dreamland-itch': 'Itch.io',
    'dreamland-roblox': 'Roblox',
    'mango-itch': 'Itch.io',
    'mango-steam': 'Steam (Coming Soon)',
    'mango-competition': 'Competition Article',
    'shepherds-uscgames': 'USC Games Expo Page',
    'boos-itch': 'Itch.io',
    'boos-steam': 'Steam',
    'boos-oa': 'Open Alpha Website',
    'deseo-itch': 'Itch.io',
    'val-itch': 'Itch.io',
    'val-steam': 'Steam',
    'val-website': 'Game Site',
};

const shortTextMap =
{
    'dreamland-itch': 'Itch.io',
    'dreamland-roblox': 'Roblox',
    'mango-itch': 'Itch.io',
    'mango-steam': 'Steam',
    'mango-competition': 'Competition',
    'shepherds-uscgames': 'USC Games',
    'boos-itch': 'Itch.io',
    'boos-steam': 'Steam',
    'boos-oa': 'OA Website',
    'deseo-itch': 'Itch.io',
    'val-itch': 'Itch.io',
    'val-steam': 'Steam',
    'val-website': 'Website',
};


const colorClass = colorMap[linkKey.toLowerCase()] || defaultColor;
const link = linkMap[linkKey.toLowerCase()] || 'https://example.com';
const text = textMap[linkKey.toLowerCase()] || linkKey;
const shortText = shortTextMap[linkKey.toLowerCase()] || linkKey;
const hoverClass = hoverMap[linkKey.toLowerCase()] || defaultHover;

---

<html>
<head>
    <script src="https://kit.fontawesome.com/d4df086054.js" crossorigin="anonymous"></script>
</head>
<body>
        <a href={link} target="_blank" class=`hover:${hoverClass}`>
            <span class={` hidden sm:block text-white text-sm sm:text-lg font-medium me-2 px-2.5 py-0.5 mt-2 rounded-full whitespace-no-wrap ${colorClass}`}>{text}
            </span>
            <span class={` block sm:hidden text-white text-sm sm:text-lg font-medium me-2 px-2.5 py-0.5 mt-2 rounded-full whitespace-no-wrap ${colorClass}`}>{shortText}
            </span>
        </a>
</body>
</html>